// Specific CSS for your home-page
.home-background-img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('ollivander-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
}
