// Specific CSS for your home-page
.home-background-img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('ollivander-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-logo {
  margin-left: 20px;
}

.input-group-prepend {
  margin-right: 70px;
  flex: flex-grow-1
}
