@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

.show-background-color {
  background-image: url('https://images.unsplash.com/photo-1598025792291-44ed6654d628?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
  background-size: cover;
  min-height: 100vh;
}

.content {
  background-image: url('https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?ixlib=rb-1.2.1&auto=format&fit=crop&w=978&q=80');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #2f2519;
}

.show-header {
  margin-top: 15px;
  font-family: 'Tangerine', cursive;
  color: #2f2519;
  font-weight: bold;
  font-size: 100px;
  text-shadow: 0px 0px 2px #2f2519;

  a {
    font-size: 40px;
    opacity: 0.8;
    color: #2f2519;
    text-shadow: 0px 0px 2px #fbe6d4;
  }
}

.show-right {
  margin-right: 30px;

  h4 {
    color: #2f2519;
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  h5 {
    color: #2f2519;
    margin: 0;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
  }
}

.text {
  margin-bottom: 20px;
}

.booking-form {
  background-image: linear-gradient(rgba(246,240,234,0.4), rgba(241,223,209,0.4)), url('booking-form.png');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px #2f2519;

  h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    text-shadow: 0px 0px 8px #fbe6d4;
  }

  .booking-form-font {
    font-family: 'Tangerine', cursive;
    font-size: 22px;
    font-weight: bold;
  }

  .bookings-button {
    color: #e8e4e1;
    background-color: #2f2519;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
  }
}

td {
  padding-right: 35px;
}
