<h2><%= link_to wand.name, wand_path(wand), class: "btn btn-outline-primary btn-block" %></h2>
<p class="font-weight-light text-muted"><%= wand.address %></p>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= wand.name %></h5>
    <p class="card-text"><%=  %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
