

<div class="hero-image">
  <div class="hero-text">
    <h1 style = "margin-bottom: 50px"><strong>Welcome to Ollivander's!</strong></h1>
    <h2>Ollivander's is now online. </h2>

      <h3 style = "margin-bottom: 50px"><strong><%= link_to "Sign up now", new_user_registration_path  %></strong></h3>

    <h3> Whereever you are, you can find the right wand for you.</h3>

    <h2 style = "margin: 50px"><strong>Simple steps to get started</strong></h2>

    <div class="about-cards-container">
      <div class="card-about">
        <h4> 1. Search for your perfect wand.</h4>
      </div>
      <div class="card-about">
        <h4> 2. Check out the details of the wand.</h4>
      </div>
      <div class="card-about">
        <h4> 3. Book your perfect wand.</h4>
      </div>
      <div class="card-about">
        <h4> 4. Enjoy casting your favorite spells!</h4>
      </div>
    </div>
    <h2 style="margin-top: 50px;"> What makes Olivander's different?</h2>
    <h4>We specialize in finding the wand that is just right for you.
    Your first wand might have picked you but here you are able to try out other wands to see which one fits you the best.</h4>
    <h2 style = "margin-top: 50px;"> Questions: </h2>
    <h4 style = "margin-top: 30px;"> Why are you online now?</h4>
    <h5>  The COVID-19 pandemic has forced us to go online.</h5>
    <h4 style = "margin-top: 30px;"> Can I still go to the store?</h4>
    <h5> Yes. The store is still open but hours may differ. Please call your local store for hours. </h5>
    <h4 style = "margin-top: 30px;"> How much can I rent out my wand for?</h4>
    <h5> You can search for wands that are similar to yours and see what prices other people are renting theirs out for.</h5>
    <h4 style = "margin-top: 30px;"> How can I rent out my own wand?</h4>
    <h5> After signing up, you can add your own wand into the listings. Once you have a person who would like to rent your wand.
    You will get a notification on your dashboard. It will state the date, time, and location of the drop off and return.  </h5>
  </div>
</div>



