
  <div class="hero-image">
    <div class="hero-text">
      <h2>Welcome to Ollivander's!</h2>
      <h3>Get to know us. </h3>
      <h5> Whereever you are, you can find the right wand for you.</h5>
    </div>
  </div>

<div class="container">
  <h4>Simple steps to get started</h4>
  <h6> 1. Search for your perfect wand.</h6>
  <h6> 2. Check out the details of the wand.</h6>
  <h6> 3. Book your perfect wand.</h6>
  <h6> 4. Enjoy casting your favorite spells with your perfect wand.</h6>
</div>
