<% content_for :transparent do %>
  transparent
<% end %>
<div class="container mt-10">
   <%= cl_image_tag("logo_vmroto", width: 1000, height: 300, crop: :fill) %>
  <h1>HOMEPAGE</h1>
  <%= link_to 'wand listings', wands_path %>
</div>
