
<% content_for :transparent do %>
  transparent
<% end %>
<div class='home-background-img vh-100 d-flex align-items-center'>
<div class="container">
   <%= image_tag("full_ollivanders_logo.png", width: 1000, height: 300, crop: :fill) %>
</div>
</div>
