<div class="form-page-background">
  <div class="container d-flex justify-content-center align-items-center">
    <div class= 'col-sm-12 col-md-10 col-lg-9 col-xl-9 justify-content-center'>
      <div class= 'form-background my-3 p-4 border'>
        <h1><strong>Edit <%= @wand.name %></strong></h1>
        <%= render 'shared/form', wand: @wand %>
      </div>
    </div>
  </div>
</div>
