<div class="container">
  <ul>
    <% @wands.each do |wand| %>
    <li><%= link_to wand.name.capitalize, wand_path(wand) %></li>
    <% end %>
  </ul>

  <% if current_user %>
    <%= link_to 'post new wand listing', new_wand_path %>
  <% end %>
</div>
