.about-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
  .about-cards-container {
  display: grid;
  grid-template-columns: 1fr;
}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.about-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 48px;
}
}
