.carousel-item {
  margin-top: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 80%, 80%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size:60px;
  color: #2f2519;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 60px;
  color: #2f2519;
}
