.images {
  position: relative;
  border-radius: 8%;
  border: 1 px solid #ddd;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px #c7956d solid;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 24px;
  margin-bottom: 24px;
}
