.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(#c8995f, #f4f4f4);
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.transparent {
  background: transparent;
}
