.navbar-lewagon {
  justify-content: space-between;
  background-color: #d99058;
  background-image: linear-gradient(#f9d29d 0%, #d99058 90%);
  transition: 0.5s background-color ease;
  box-shadow: -1px 1px 10px #000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.transparent {
  box-shadow: none;
}
