.navbar-lewagon {
  justify-content: space-between;
  background: #db996c;
  transition: 0.5s background-color ease;
  box-shadow: -1px 1px 10px #000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.transparent {
  background: transparent;
  box-shadow: none;
}

.dashboard-listing {
  list-style: none;
  margin: 5px;
}
