// .search-form-control
.search-form-control {
  position: relative;
  height: 3.0rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background: linear-gradient(#ffffffa6, #ffffff94);
  width: 600px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .control {
  height: 3.0rem;
  box-shadow: 0 0 10px #dbcbbd;
  background: transparent;
  margin: 0;
  font-size: 30px;
  border: 1px #283148 solid;
}

input, button, select, optgroup, textarea {
  font-family: 'Tangerine', cursive;
}

input {
  text-indent: 2px;
}


.placeholder-design {
  margin-left: 4px;
}

// .search-form-control .form-control:focus {
  // border: 1px solid #1EDD88;
  // outline: none !important;
  // box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }

.btn-flat {
  font-size: 10px;
  color: white;
  padding: 8px;
  border-radius: 10px;
  background: linear-gradient(#f9d29dd6 0%, #d99058b5 90%);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: linear-gradient(#3e1922d1, #564348d1);
  color: white;
}


// * {
//   margin: 0;
//   padding: 0;
// }

// .cover {
//   background: #744a35;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.flex-form {
  display: flex;
  // border: 20px solid rgba(0,0,0,0.2);
  // border-radius: 5px;
}


