.show_button {
  background-color: #c7956d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 32px;
  border-radius: 8px;
  margin: 32px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
