.bookings-form-background-img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1533285860212-c85e7140a408?ixlib=rb-1.2.1&auto=format&fit=crop&w=2536&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.booking-form {
  background: linear-gradient(#ffffffa6, #ffffff94);
  border-radius: 20px;
}
